body {
background:gray;
font-size:normal 16pt;
margin-top:10px;
width:auto;
}
* {
margin:0px;
padding:0px;
margin-top:0px;
margin-bottom:0px;
}


h1 {
text-align:center;
}


nav {
background:black;
color:white;
margin-top:12px;
padding:6pt;
font-size:12pt;
font-weight:bold;
}


nav > a {
color:white;
padding:4px;
text-decoration:none;
font-weight:bold;
padding-left:6.5px;
padding-right:6.5px;
}


main#bot {
height:470px;
margin:auto;
border-radius:8px;
margin-top:40px;
padding:20px;
}


a {
text-decoration:none;
color:black;
}


a:hover {
background:green;
color:black;
border-radius:4px;
}


footer {
background:black;
font-weight:bold;
text-align:center;
width:auto;
}

nav#baixo {
text-align:center;
font-weight:bold;
}


nav {
columns:1;
}


nav#baixo > a {
padding:4px;
padding-left:10px;
padding-right:10px;
}
iframe.video {
width:auto;
text-align:center;
background:black;

}

main#comv {
text-align:center;
width:auto;
}